footer {
    text-align: center; 
    padding: 9px 0 80px;
    background: #edeef3;
    .group_download {
        a {
            display: block;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -moz-flex: 1;
            flex: 1;
            position: relative;
            padding: 5px 23px 5px 0;
            margin-left: 5px;
            background: #c1c1c1;
            font-size: 10px;
            color: #fff;
            line-height: 20px;
            text-align: center;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 23px;
                height: 30px;
                border-left: 1px solid #b3b3b3;
                background: #cdcdcd url(../img/footer_icon.png) no-repeat -97px -23px;
                background-size: 150px 175px;
            }
        }
    }
    .group_info {
        margin: 15px 0 0;
        font-size: 10px;
        color: #999;
        line-height: 16px;
        text-align: center;
        letter-spacing: -1px;
    }
    .group_f_menu {
        margin-top: 20px;
        .f_menu_list {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
            .f_menu_item {
                display: inline-block;
                margin-right: 18px;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 12px;
                    background-color: #c0c0c0;
                    position: absolute;
                    right: -9px;
                    top: 3px;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
                a {
                    color: #666;
                    strong {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    
    .group_copy {
        display: block;
        margin-top: 16px;
        font-size: 10px;
        color: #999;
        text-align: center;
    }
}