
.top_ad {
    width: 100%;
    text-align: center;
    background: #f0eeef;
    z-index: 24;
    background-color: rgb(51, 51, 51);
    color: #fff;
    img {
        width: 320px;
    }
    .close_btn {
        display: block;
        position: absolute;
        width: 55px;
        height: 45px;
        right: 0;
        top: 0;
        &::after {
            background-position: -99px -157px;
        }
    }
}

header {
    position: sticky;
    top: -55px;
    width: 100%;
    z-index: 15;
    background: #fff;
    transition: 0.5s;
    .group_logo {
        display: block;
        position: relative;
        width: 100%;
        height: 55px;
        background: #fff;
        z-index: 23; 
        button {
            width: 45px;
            height: 55px;
            &.menu_icon {
                background: url(../img/header/menu_icon.png) no-repeat center/45px;
            }
            &.cart_icon {
                background: url(../img/header/cart_icon.png) no-repeat center/45px;
            }
            .count {
                display: inline-block;
                position: absolute;
                top: 15px;
                right: 5px;
                width: 16px;
                height: 16px;
                font-size: 10px;
                font-family: 'Montserrat Bold';
                text-align: center;
                line-height: 14px;
                border-radius: 50%;
                background-color: #ff206c;
                color: #fff;
            }
        }
    }
    h1 {
        a{
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img{
            width: 78px;
            height: 22px;
        }
    }
    .group_search {
        margin: 5px 20px;
        form {
            position: relative;
            input {
                font-size: 15px;
                width: 100%;
                height: 40px;
                padding: 0 60px 0 13px;
                line-height: 40px;
                text-indent: 0;
                background-color: #f5f6f8;
                border: 0;
                border-radius: 22px;
                &::placeholder {
                    color:#999;
                }
            }
            .search_icon {
                position: absolute;
                top: 0;
                right: 10px;
                width: 30px;
                height: 40px;
                background: url(https://m.akmall.com/beautyapp/resources/images/common/ico_sch.png) no-repeat center center;
                background-size: 16px 16px;
            }
        }
    }
    .group_menu {
        overflow: hidden;
        .menu_list {
            display: flex;
            .menu_item {
                display: block;
                position: relative;
                -webkit-flex-shrink: 0;
                flex-shrink: 0;
                margin: 0 4px;
                padding: 0 6px;
                line-height: 1;
                width: auto;
                &.active {
                    font-weight: bold;
                    border-bottom: 3px solid #dd0028;
                    a {
                        color: #e0105a;
                    }
                }
                a {
                    position: relative;
                    display: block;
                    width: auto;
                    padding: 15px 0 12px;
                    font-size: 15px;
                    color: #333;
                    sub {
                        position: absolute;
                        font-size: 8px;
                        color: #494d94;
                        top: 3px;
                        width: 100%;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        overflow: visible;
                        text-overflow: clip;
                        white-space: nowrap;
                    }
                    &.new_badge {
                        &::after {
                            
                            position: absolute;
                            top: 13px;
                            right: -10px;
                            display: block;
                            width: 9px;
                            height: 10px;
                            background-position: -42px -24px;
                            background-image: url(../img/sp_main_new.png);
                            -webkit-background-size: 500px 500px;
                            background-size: 500px 500px;
                            background-repeat: no-repeat;
                            content: '';
                        }
                    }
                }
            }
        }
    }
    .group_banner {
        .close_btn {
            &::after {
                display: block;
                width: 14px;
                height: 14px;
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -7px;
                background-image: url(../img/main_sp.png);
                background-repeat: no-repeat;
                background-size: 200px 250px;
                background-position: -140px 0px;
                content: '';
            }
        }
    }
}

